body {
    background-color: rgb(161, 137, 121);
    margin-left: 20px;
}

h1, h2, p {
    color: rgb(55, 39, 7);
}

.rubik-mono-one-regular, h1, h2 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .description {
    width: 100%;
  }

  #main-img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

h1:hover {
    transform: scale(1.05);
}

  ul {
    list-style-type: none;
    padding-left: 5px;
  }

  .left, .right {
    margin-top: 30px;
}
<<<<<<< HEAD

a:hover {
    color: darkorange;
}
=======


.checked {
    text-decoration: line-through;
}

.navbar {
    background-color: rgb(55, 39, 7);
}

.navbar-brand, .nav-link {
    color: rgb(161, 137, 121) !important;
    font-family: "Rubik Mono One", monospace;
}

.navbar-toggler {
  color: rgb(55, 39, 7);
  background-color: rgb(161, 137, 121);
}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #555;
}

body.dark-mode .btn {
  background-color: #444;
  color: #fff;
}


/* Mobile devices (portrait and landscape) */
@media (max-width: 600px) {
  .navbar-brand {
      font-size: 1.2em;
  }

  .navbar-nav .nav-item {
      margin: 5px 0;
  }

  .navbar-collapse {
      text-align: center;
  }

  .navbar-toggler {
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 0 auto;
  }

  .navbar-nav {
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
  }

  .navbar-nav .nav-item {
      padding: 5px 0;
  }
}

/* Tablets and small desktops */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar-brand {
      font-size: 1.5em;
  }

  .navbar-nav .nav-item {
      margin-left: 15px;
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .navbar-brand {
      font-size: 2em;
  }

  .navbar-nav .nav-item {
      margin-left: 20px;
  }
}

/* Media queries for different screen sizes */
@media (max-width: 600px) {
  h1 {
      font-size: 1.5em;
  }

}

@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
      font-size: 1.75em;
  }

}

@media (min-width: 1025px) {
  h1 {
      font-size: 2em;
      /* test color: green; */
  }

  .container {
      padding: 20px;
  }
}
>>>>>>> c5225074f712c32f08f410e3877f873f182c219d