body {
    background-color: #1a1a4f;
  }

  h1 {
    text-align: center;
    color: red;
  }
  
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 900px;
    background-color: #b6eef0;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #petStats {
    
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #802ddf;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  #petCanvas {
    display: block; /* Make sure the canvas is a block element */
    margin: 0 auto; /* Center the canvas */
    width: 256px; /* Set your desired canvas width */
    height: 256px; /* Set your desired canvas height */
}
 
#nameInput {
  align-items: center;
  margin-top: 20px;
}
